/* Color names */
$alto:        #dddddd;
$cod-gray:    #101010;
$mariner:     #2255cc;
$mine-shaft:  #222222;
$pumpkin:     #ff7d12;
$white:       #ffffff;

/* Colors */
$background-dark: $cod-gray;
$background-light: $white;

$font-on-dark:  $white;
$font-on-light:  $white;

$link-on-dark: $white;
$link-on-light: $mariner;

$highlight-color: $pumpkin;
$background-color: $cod-gray;
$primary-color: $mariner;
