@use 'colors';

html {
  background: colors.$background-dark;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 30px 10px 0 10px;
}

.blue {
  color: colors.$font-on-light;
}

.blue a {
  color: colors.$alto;
}

.blue a:hover, .blue a.active {
  color: colors.$white;
}

.white {
  background: colors.$background-light;
  color: colors.$mine-shaft;
}

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.content {
  padding: 10px 30px;
  margin-bottom: 10px;
}

header {
  align-items: center;
  background-image: linear-gradient(colors.$background-color, colors.$primary-color);
  border-radius: 15px 15px 0 0;
  display: flex;
  font-family: monospace;
}

img.avatar {
  border-radius: 50%;
  margin-right: 30px;
  width: 50px;
}

main {
}

aside {
  display: flex;
  flex-direction: column;
}

footer {
  background-image: linear-gradient(colors.$primary-color, colors.$background-color);
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: row-reverse;
}

h1 {
  font-size: 2em;
}

a {
  color: colors.$primary-color;
  text-decoration: none;
}

a:hover, a.active {
  text-decoration: underline;
}

i, em {
  color: colors.$highlight-color;
}

hr {
  margin: 0 40%;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav li {
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1em;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}
